@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;    
}

.main {
    width: 100%;
    height: 100vh; /* Changed from 100vw to 100vh to cover the entire viewport height */
    background-image: url('../Assets/countdown.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

img {
    display: block;
    margin: 0 auto;
}

.overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.1);
}

.title {
    margin-top: 30px;
    align-items: center;
    color: #fff;
    font-size: 2.5em;
    font-weight: bolder;
    text-transform: capitalize;
}

.cols {
    margin-top: 10%;
    width: 90%;
    display: flex;
    justify-content: center;
    color: #fff;
}

.cols .timer-box {
    width: 250px;
    text-align: center;
}

input {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    border-color: transparent;
    border-radius: 5px;
    height: 50px;
    text-align: center;
    font-size: 30px;
}

label {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}


#link {
    color: black;
}


/* Responsive Design */
@media screen and (max-width: 600px) {
    .main {
        height: auto; /* Allow height to adjust based on content */
    }

    .overlay {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.7); /* Increase opacity for better readability */
    }

    .title {
        font-size: 1.5em; /* Reduce font size */
    }

    .cols {
        flex-direction: column; /* Stack timer boxes vertically */
        align-items: center; /* Center align items */
    }

    .cols .timer-box {
        width: 100%;
        margin: 5px 0; /* Add margin for spacing */
    }

    input {
        width: 70%; /* Increase input width */
        height: 30px; /* Reduce height */
        font-size: 15px; /* Reduce font size */
    }

    label {
        font-size: 15px; /* Reduce label font size */
    }
}
